svg {
    cursor: pointer;
    height: 44px;
    width: 44px
}

svg path {
    fill: #000
}

.header-none-fixed-bg-scroll {
    background: rgba(0,0,0,.8196078431372549);
    position: fixed;
    width: 100%;
    max-width: 1920px;
    top: 0;
    z-index: 2;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

header {
    max-width: 1920px;
    margin: 0 auto;
    z-index: 3;
    height: 95px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-L {
    margin: 40px 0;
    left: 0;
    position: absolute
}

.menu-R {
    right: 0;
    position: absolute;
    margin: 60px 0
}

.menu-R a.language {
    color: #fff
}

.menu-R a.language:hover {
    color: #fff;
    background: #ec1c24
}

.menu-R a.language.active {
    color: #fff;
    background: #ec1c24
}

.menu-R a {
    padding: 5px 15px;
    float: left;
    margin: 0 1px
}

.menu-R a.lang {
    padding: 5px 10px
}

.menu-R a.selectMNBG {
    color: #fff;
    background: #ec1c24
}

.toggle {
    color: #fff;
    cursor: pointer
}

.toggle.active {
    background: #ec1c24
}

.menu-R a:hover {
    color: #fff;
    background: #ec1c24
}

.logo {
    width: 140px;
    margin-top: 15px
}

.line-right {
    border-right: 1px solid #fff;
    height: 50px
}

.menu {
    width: 80%;
    margin: -33px auto 0 auto;
    position: relative
}

.bg-transparent-black {
    background: rgba(0,0,0,.85);
    z-index: 2;
    Transform: translate(10%,30%);
    width: 80%;
    padding: 30px
}

input[type=text].search {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    color: #000
}

input {
    outline: 0
}

.search {
    width: 20px;
    background: 0 0;
    position: relative;
    left: -5px;
    top: -2px
}

.toggle-search-slide {
    background: #fff;
    padding: 20px;
    display: none;
    position: absolute;
    top: 143%;
    right: -71%;
    width: 18%
}

.speech-bubble {
    position: relative;
    background: #ec1c24;
    border-radius: 5px
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #ec1c24;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px
}

.size-arrow {
    width: 15px
}

.fancybox-slide--iframe .fancybox-content {
    width: 800px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
    margin: 0
}

#button-top {
    display: inline-block;
    background-color: #ec1c24;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

#button-top:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff
}

#button-top:active {
    background-color: #555
}

#button-top.show {
    opacity: 1;
    visibility: visible
}

.screen-reader-text {
    height: .0625rem;
    width: .0625rem;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute
}

.menu-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.is-open .menu-screen {
    background-color: #75757c;
    opacity: .6
}

.site-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative
}

.header-inner {
    font-family: 'Kanit', sans-serif
}

.button-burger {
    background-color: transparent;
    border: none;
    display: inline-block;
    height: 23px;
    position: relative;
    width: 30px;
    z-index: 4
}

.bar {
    background-color: #fff;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    width: 30px
}

.bar-1 {
    top: 0
}

.bar-2 {
    margin-top: -1px;
    width: 18px;
    right: -10px
}

.bar-3 {
    bottom: 0
}

.is-open .bar-1 {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.is-open .bar-2 {
    display: none
}

.is-open .bar-3 {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.main-navigation {
    background-color: #434142;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width .35s ease-in-out;
    width: 0
}

.main-navigation h6 {
    font-size: 20px;
    color: #fff
}

.is-open .main-navigation {
    padding: 20px;
    width: 300px;
    overflow: auto
}

.menu-item-has-children {
    position: relative
}

a {
    text-decoration: none
}

.sub-menu-toggle {
    background-color: transparent;
    border: none;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 5px;
    right: 0;
    text-indent: -9999px
}

.sub-menu-toggle::after,.sub-menu-toggle::before {
    background-color: #da9158;
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out,-webkit-transform .35s ease-in-out
}

.sub-menu-toggle::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.is-toggled .sub-menu-toggle::after {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s ease-in-out
}

.menu-item-has-children.is-toggled .sub-menu {
    max-height: 100vh
}

.accordion {
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: .4s;
    font-size: 20px;
    color: #fff;
    padding-bottom: 5px
}

.panel {
    padding: 0;
    display: none;
    overflow: scroll;
    list-style: none
}

.panel ul {
    padding: 0;
    margin: 0
}

.panel ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 18px
}

@media only screen and (max-width: 1600px) {
    .menu {
        width:92%!important
    }

    .bg-transparent-black {
        width: 88%;
        Transform: translate(4%,155px)
    }
}

.font-anuyart-light {
    font-family: 'Kanit', sans-serif;
}
